---
title: "Welcome!"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/headers/mathyousee-header3-optimized-2000.jpg
excerpt: "Thanks for stopping by. Whatever brought you here, welcome! I've tried to centralize links to a variety of projects, content, and media that I'm involved with. If for no other reason than sometimes it's nice to review what I've done and where I'm investing my resources."
feature_row:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Tech geek"
    excerpt: "I've embraced my passion for technology. Most posts about this live on my Connecting the Data site."
    url: "https://mathyousee.github.io/connecting-the-data"
    btn_label: "Visit Connecting the Data"
    btn_class: "btn--primary"
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Practical optimizer"
    excerpt: "Personal productivity, time management, tech, mindset and follow-through. Co-hosted with Joel Lindstrom."
    url: "https://prodcast.show"
    btn_label: "Subscribe to the podcast"
    btn_class: "btn--primary"
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Tabletop Gamer"
    excerpt: "I find that playing and creating tabletop games is a fun way to stretch the creative part of my brain."
    url: "https://www.thegamecrafter.com/designers/matthew-c.-anderson"
    btn_label: "View games"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Continuous learner"
    excerpt: "A regular practice of learning and exploring is key to consistent growth. It also keeps me from getting bored. Here I share how I prioritize learning and some of the ways I build and strengthen this habit."
    url: ""
    btn_label: "Coming soon"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Let's connect with each other"
    excerpt: '
    LinkedIn: [matthewcanderson](https://linkedin.com/in/matthewcanderson)<br />
    GitHub: [MathYouSee](https://github.com/mathyousee)<br />
    Twitter: @[mcanderson](https://twitter.com/mcanderson)<br />
    '
feature_row4:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Tools I use & like"
    excerpt: 'A collection of tools (physical and virtual) that I find to be useful.'
    url: ""
    btn_label: "Coming soon"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row4" type="right" %}

{% include feature_row id="feature_row3" type="left" %}