---
title: "Splash Page"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner-background-1023x614.jpg
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
excerpt: "A curated collection of assets for leveraging the data you have, from across many sources, to improve your process."
intro: 
  - excerpt: 'The resources are broken out by category. The top categories are product-focused, while the topics further down the page cover resources that cross platforms. FYI: Posts will show up in multiple categories if that applies.'
feature_row:
  - image_path: /assets/images/banner-background-1023x614.jpg
    image_caption: "Power Apps"
    alt: "Power Apps image"
    excerpt: "Creating user experiences using the capabilities of Microsoft's no/low code app designer."
    url: "#test-link"
    btn_label: "View Power Apps resources"
    btn_class: "btn--primary"
  - image_path: /assets/images/banner-background-1023x614.jpg
    image_caption: "Common Data Service"
    alt: "Common Data Service image"
    excerpt: "The API-driven data store that leverages and extends the Common Data Model, and provides ."
    url: "#test-link"
    btn_label: "View Common Data Service resources"
    btn_class: "btn--primary"
  - image_path: /assets/images/banner-background-1023x614.jpg
    image_caption: "Power Automate"
    alt: "Power Automate image"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "View Power Automate resources"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Power Platform + Azure"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Power Platform Starter Solutions"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Connecting the Data"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "https://connectingthedata.com"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}